_pugfiles/include/footer.pug
footer#footer
    .container
        .footer-links
            .col-sm-4
                h4 Каталог товаров
                ul
                    li 
                        a(href="#") Строительные материалы
                    li 
                        a(href="#") Отделочные материалы
                    li 
                        a(href="#") Инструменты
                ul
                    li 
                        a(href="#") Крепёж
                    li 
                        a(href="#") Электротехническая группа
                    li 
                        a(href="#") Сантехника и водоснабжение
                a.goods-on-brands(href="#") Товары по брендам
            .col-sm-4
                h4 Покупателям
                ul
                    li 
                        a(href="#") Оплата и доставка
                    li 
                        a(href="#") Гарантия и возврат
                    li 
                        a(href="#") Скидки и акции
                    li 
                        a(href="#") Новости
                ul
                    li 
                        a(href="#") Статьи
                    li 
                        a(href="#") Инструкции
                    li 
                        a(href="#") Готовые наборы
                    li 
                        a(href="#") Вход/Регистрация
            .col-sm-4
                h4 Контакты
                ul
                    li 
                        | МКАД 51-й км
                        wbr
                        | (внешняя сторона)
                    li р. пос. Заречье
                    li
                        | ТЦ «ЭлитСтрой
                        wbr
                        | материалы»
                    li.foot-map  
                        a.modal-link(href="#") Схема проезда
                ul
                    li пн.-пт. с 10:00 до 20:00
                    li.foot-phone +7 (495) 105-85-02
                    li
                        a.modal-link(href="#") Заказать обратный звонок
                    li 
                        a(href="mailto:info@al-stroy.ru") info@al-stroy.ru
                    li 
                        a(href="#") Все контакты
            .col-sm-12
                hr

        .soc-links.col-sm-4
            h5 Мы в соцсетях
            ul
                li
                    a(href="#")
                        i.icon-facebook
                li
                    a(href="#")
                        i.icon-instagram
                li
                    a(href="#")
                        i.icon-odnoklassniki
                li
                    a(href="#")
                        i.icon-vkontakte
                li
                    a(href="#")
                        i.icon-twitter
        .payment.col-sm-2
            h5 Принимаем к оплате
            .pay-icons
        .subscribe.col-sm-6
            .subscribe-form
                h5 Подписаться на новости и акции
                .input-group
                    input.form-control(type="text", placeholder="Оставьте Ваш E-mail")
                    span.input-group-btn
                        button.btn.btn-default(type="button") Подписаться
.copyright-line
    .container
        .col-sm-12
            span.copyright &copy; 2016 Артель-Молл
            span 
                | Создание сайта - 
                a(href="#") Individ
script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
script(src='//use.fontawesome.com/c36757424e.js')

site/include/footer.html

<footer id="footer">
	<div class="container">
		<div class="footer-links">
			<div class="col-sm-4">
				<h4>Каталог товаров</h4>
				<ul>
					<li> <a href="#">Строительные материалы</a></li>
					<li> <a href="#">Отделочные материалы</a></li>
					<li> <a href="#">Инструменты</a></li>
				</ul>
				<ul>
					<li> <a href="#">Крепёж</a></li>
					<li> <a href="#">Электротехническая группа</a></li>
					<li> <a href="#">Сантехника и водоснабжение</a></li>
				</ul><a class="goods-on-brands" href="#">Товары по брендам</a>
			</div>
			<div class="col-sm-4">
				<h4>Покупателям</h4>
				<ul>
					<li> <a href="#">Оплата и доставка</a></li>
					<li> <a href="#">Гарантия и возврат</a></li>
					<li> <a href="#">Скидки и акции</a></li>
					<li> <a href="#">Новости</a></li>
				</ul>
				<ul>
					<li> <a href="#">Статьи</a></li>
					<li> <a href="#">Инструкции</a></li>
					<li> <a href="#">Готовые наборы</a></li>
					<li> <a href="#">Вход/Регистрация</a></li>
				</ul>
			</div>
			<div class="col-sm-4">
				<h4>Контакты</h4>
				<ul>
					<li>
						 МКАД 51-й км
						<wbr/>(внешняя сторона)
					</li>
					<li>р. пос. Заречье</li>
					<li>ТЦ «ЭлитСтрой
						<wbr/>материалы»
					</li>
					<li class="foot-map"> <a class="modal-link" href="#">Схема проезда</a></li>
				</ul>
				<ul>
					<li>пн.-пт. с 10:00 до 20:00</li>
					<li class="foot-phone">+7 (495) 105-85-02</li>
					<li><a class="modal-link" href="#">Заказать обратный звонок</a></li>
					<li> <a href="mailto:info@al-stroy.ru">info@al-stroy.ru</a></li>
					<li> <a href="#">Все контакты</a></li>
				</ul>
			</div>
			<div class="col-sm-12">
				<hr/>
			</div>
		</div>
		<div class="soc-links col-sm-4">
			<h5>Мы в соцсетях</h5>
			<ul>
				<li><a href="#"><i class="icon-facebook"></i></a></li>
				<li><a href="#"><i class="icon-instagram"></i></a></li>
				<li><a href="#"><i class="icon-odnoklassniki"></i></a></li>
				<li><a href="#"><i class="icon-vkontakte"></i></a></li>
				<li><a href="#"><i class="icon-twitter"></i></a></li>
			</ul>
		</div>
		<div class="payment col-sm-2">
			<h5>Принимаем к оплате</h5>
			<div class="pay-icons"></div>
		</div>
		<div class="subscribe col-sm-6">
			<div class="subscribe-form">
				<h5>Подписаться на новости и акции</h5>
				<div class="input-group">
					<input class="form-control" type="text" placeholder="Оставьте Ваш E-mail"/><span class="input-group-btn">
						<button class="btn btn-default" type="button">Подписаться</button></span>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="copyright-line">
	<div class="container">
		<div class="col-sm-12"><span class="copyright">&copy; 2016 Артель-Молл</span><span>
				 Создание сайта - <a href="#">Individ</a></span></div>
	</div>
</div>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//use.fontawesome.com/c36757424e.js"></script>
