_pugfiles/index.pug
doctype html
html(lang='en')
  head
    include include/head.pug
  body
    header#header
        .container
            .row
                .top-menu-links.col-sm-12
                    .main-links
                        ul
                            li
                                a(href="#") Главная
                            li
                                a(href="#") О компании
                            li
                                a.active(href="#") Скидки и акции
                            li
                                a(href="#") Новости
                            li
                                a(href="#") Контакты
                    .login-links
                        img(src='/images/people-cap.png')
                        a(href="#") Вход
                        |  / 
                        a(href="#") Регистрация
                    hr
                div.head-info.col-sm-12
                    .logo-full
                    .work-clock-info
                        .phone-number +7 495 105-85-02
                        .work-clock пн. — сб.: с 10:00 до 20:00
                        .callback-link 
                            a(href="#") Заказать обратный звонок
                    .actions_with_goods
                        .compare 
                            a(href="#") Сравнение
                            span Нет товаров для сравнения
                        .aside 
                            a(href="#") Отложенные
                            span Нет отложенных товаров
                        .cart 
                            a(href="#") Корзина
                            span 
                                | 14 товаров
                                br
                                |  на 112 345 ₽
        .affix-panel.col-sm-12.affix(data-spy="affix", data-offset-top="213", data-offset-bottom="0") 
            .container
                .block-logo.col-sm-2
                    .logo-small
                    .phone_number +7 495 105-85-02
                .catalog-button.col-sm-3 
                    i.fa.fa-bars  
                    |  Каталог
                .search-form.col-sm-7
                    .input-group
                        input.form-control(type="text", placeholder="Поиск по товарам по названию, описанию, артикулу")
                        span.input-group-btn
                            button.btn.btn-default(type="button") Найти
                .link_promo.col-sm-3
                    a(href="#")
                        span Скидки и акции
                a(href="#")       
                    .small-compare
                a(href="#")
                    .small-aside
                        div 5
                a(href="#")
                    .small-cart 
                        div 14
                a(href="#")
                    .small-login 
        .container
            .row
                .col-sm-12
                    ol.breadcrumb
                        li.active Главная
                .col-sm-12
                    h1 Скидки и Акции
    #main      
        #content
            .container
                .row
                    .col-sm-6.col-md-6.col-lg-4
                        .item-sale.thumbnail
                            h3 
                                a(href="#") Мягкая черепица Shinglas 285 руб/кв.м
                            .countdown
                                |  Действует до 
                                strong 14.11.2016 
                                span 00:08:28:39
                            img(src='/images/item.jpg', alt='Мягкая черепица Shinglas 285 руб/кв.м')
                            .caption
                                p Российиский производитель проводит суперакцию на фасадные панели коллекции &laquo;Гранит&raquo; по Ценам прошлого года. Успейте купить.

                    .col-sm-6.col-md-6.col-lg-4
                        .item-sale.thumbnail
                            h3 
                                a(href="#") Софиты Tecos 40 руб/кв.м
                            .countdown
                                |  Действует до 
                                strong 14.11.2016 
                                span 00:05:12:32
                            img(src='/images/item.jpg', alt='Мягкая черепица Shinglas 285 руб/кв.м')
                            .caption
                                p Российиский производитель проводит суперакцию на фасадные панели коллекции &laquo;Гранит&raquo; по Ценам прошлого года. Успейте купить.

                    .col-sm-6.col-md-6.col-lg-4
                        .item-sale.thumbnail
                            h3 
                                a(href="#") Фасадные панели RoyalStone Гранит 350 руб/кв.м
                            .countdown
                                |  Действует до 
                                strong 14.11.2016 
                                span 11:23:15:52
                            img(src='/images/item.jpg', alt='Мягкая черепица Shinglas 285 руб/кв.м')
                            .caption
                                p Российиский производитель проводит суперакцию на фасадные панели коллекции &laquo;Гранит&raquo; по Ценам прошлого года. Успейте купить.
            .sale-description
                .container
                    .row
                        .col-sm-12
                            h3 Скидка на заказ 
                        .item-description.col-sm-4
                            div 3%
                            span 
                                | При сумме заказа 
                                br 
                                | от 
                                strong 30 000 ₽
                        .item-description.col-sm-4
                            div 5%
                            span 
                                | При сумме заказа 
                                br 
                                | от 
                                strong 50 000 ₽
                        .item-description.col-sm-4
                            div 10%
                            span 
                                | При сумме заказа 
                                br 
                                | от 
                                strong 100 000 ₽
                        .col-sm-12
                            h3 Скидка от общей суммы покупок на сайте
                            p
                                a(href="#") Авторизуйтесь
                                |  или 
                                a(href="#") зарегистрируйтесь 
                                |  на сайте и Вы сможете получить персональную скидку
                            p.warning Больше покупок - больше выгода!
                        .item-description.col-sm-4
                            div 3%
                            span 
                                | При общей сумме оплаченных заказов 
                                br 
                                | от 
                                strong 150 000 ₽
                        .item-description.col-sm-4
                            div 5%
                            span 
                                | При общей сумме оплаченных заказов 
                                br 
                                | от 
                                strong 450 000 ₽
                        .item-description.col-sm-4
                            div 7%
                            span 
                                | При общей сумме оплаченных заказов 
                                br 
                                | от 
                                strong 700 000 ₽
                        .col-sm-12
                            p.small *Перечисленные скидки не суммируются, не действуют на товары по акции и товар дня.
                                br
                                | При оформлении окончательной стоимости заказа применяется наибольшая скидка.

    include include/footer.pug

site/index.html
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge">
		<title>ArtelMall - Гипермаркет строительных товаров</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Philosopher&amp;amp;subset=cyrillic">
		<link rel="stylesheet" href="/css/style.min.css">
	</head>
	<body>
		<header id="header">
			<div class="container">
				<div class="row">
					<div class="top-menu-links col-sm-12">
						<div class="main-links">
							<ul>
								<li><a href="#">Главная</a></li>
								<li><a href="#">О компании</a></li>
								<li><a class="active" href="#">Скидки и акции</a></li>
								<li><a href="#">Новости</a></li>
								<li><a href="#">Контакты</a></li>
							</ul>
						</div>
						<div class="login-links"><img src="/images/people-cap.png"><a href="#">Вход</a> / <a href="#">Регистрация</a></div>
						<hr>
					</div>
					<div class="head-info col-sm-12">
						<div class="logo-full"></div>
						<div class="work-clock-info">
							<div class="phone-number">+7 495 105-85-02</div>
							<div class="work-clock">пн. — сб.: с 10:00 до 20:00</div>
							<div class="callback-link"> <a href="#">Заказать обратный звонок</a></div>
						</div>
						<div class="actions_with_goods">
							<div class="compare"> <a href="#">Сравнение</a><span>Нет товаров для сравнения</span></div>
							<div class="aside"> <a href="#">Отложенные</a><span>Нет отложенных товаров</span></div>
							<div class="cart"> <a href="#">Корзина</a><span>
									 14 товаров<br> на 112 345 ₽</span></div>
						</div>
					</div>
				</div>
			</div>
			<div class="affix-panel col-sm-12 affix" data-spy="affix" data-offset-top="213" data-offset-bottom="0"> 
				<div class="container">
					<div class="block-logo col-sm-2">
						<div class="logo-small"></div>
						<div class="phone_number">+7 495 105-85-02</div>
					</div>
					<div class="catalog-button col-sm-3"> <i class="fa fa-bars"> </i> Каталог</div>
					<div class="search-form col-sm-7">
						<div class="input-group">
							<input class="form-control" type="text" placeholder="Поиск по товарам по названию, описанию, артикулу"><span class="input-group-btn">
								<button class="btn btn-default" type="button">Найти</button></span>
						</div>
					</div>
					<div class="link_promo col-sm-3"><a href="#"><span>Скидки и акции</span></a></div><a href="#">      
						<div class="small-compare"></div></a><a href="#">
						<div class="small-aside">
							<div>5</div>
						</div></a><a href="#">
						<div class="small-cart"> 
							<div>14</div>
						</div></a><a href="#">
						<div class="small-login"> </div></a>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<ol class="breadcrumb">
							<li class="active">Главная</li>
						</ol>
					</div>
					<div class="col-sm-12">
						<h1>Скидки и Акции</h1>
					</div>
				</div>
			</div>
		</header>
		<div id="main">     
			<div id="content">
				<div class="container">
					<div class="row">
						<div class="col-sm-6 col-md-6 col-lg-4">
							<div class="item-sale thumbnail">
								<h3> <a href="#">Мягкая черепица Shinglas 285 руб/кв.м</a></h3>
								<div class="countdown"> Действует до <strong>14.11.2016 </strong><span>00:08:28:39</span></div><img src="/images/item.jpg" alt="Мягкая черепица Shinglas 285 руб/кв.м">
								<div class="caption">
									<p>Российиский производитель проводит суперакцию на фасадные панели коллекции &laquo;Гранит&raquo; по Ценам прошлого года. Успейте купить.</p>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-4">
							<div class="item-sale thumbnail">
								<h3> <a href="#">Софиты Tecos 40 руб/кв.м</a></h3>
								<div class="countdown"> Действует до <strong>14.11.2016 </strong><span>00:05:12:32</span></div><img src="/images/item.jpg" alt="Мягкая черепица Shinglas 285 руб/кв.м">
								<div class="caption">
									<p>Российиский производитель проводит суперакцию на фасадные панели коллекции &laquo;Гранит&raquo; по Ценам прошлого года. Успейте купить.</p>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-4">
							<div class="item-sale thumbnail">
								<h3> <a href="#">Фасадные панели RoyalStone Гранит 350 руб/кв.м</a></h3>
								<div class="countdown"> Действует до <strong>14.11.2016 </strong><span>11:23:15:52</span></div><img src="/images/item.jpg" alt="Мягкая черепица Shinglas 285 руб/кв.м">
								<div class="caption">
									<p>Российиский производитель проводит суперакцию на фасадные панели коллекции &laquo;Гранит&raquo; по Ценам прошлого года. Успейте купить.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="sale-description">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<h3>Скидка на заказ </h3>
							</div>
							<div class="item-description col-sm-4">
								<div>3%</div><span>
									 При сумме заказа <br>от <strong>30 000 ₽</strong></span>
							</div>
							<div class="item-description col-sm-4">
								<div>5%</div><span>
									 При сумме заказа <br>от <strong>50 000 ₽</strong></span>
							</div>
							<div class="item-description col-sm-4">
								<div>10%</div><span>
									 При сумме заказа <br>от <strong>100 000 ₽</strong></span>
							</div>
							<div class="col-sm-12">
								<h3>Скидка от общей суммы покупок на сайте</h3>
								<p><a href="#">Авторизуйтесь</a> или <a href="#">зарегистрируйтесь </a> на сайте и Вы сможете получить персональную скидку</p>
								<p class="warning">Больше покупок - больше выгода!</p>
							</div>
							<div class="item-description col-sm-4">
								<div>3%</div><span>
									 При общей сумме оплаченных заказов <br>от <strong>150 000 ₽</strong></span>
							</div>
							<div class="item-description col-sm-4">
								<div>5%</div><span>
									 При общей сумме оплаченных заказов <br>от <strong>450 000 ₽</strong></span>
							</div>
							<div class="item-description col-sm-4">
								<div>7%</div><span>
									 При общей сумме оплаченных заказов <br>от <strong>700 000 ₽</strong></span>
							</div>
							<div class="col-sm-12">
								<p class="small">*Перечисленные скидки не суммируются, не действуют на товары по акции и товар дня.<br>При оформлении окончательной стоимости заказа применяется наибольшая скидка.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer id="footer">
			<div class="container">
				<div class="footer-links">
					<div class="col-sm-4">
						<h4>Каталог товаров</h4>
						<ul>
							<li> <a href="#">Строительные материалы</a></li>
							<li> <a href="#">Отделочные материалы</a></li>
							<li> <a href="#">Инструменты</a></li>
						</ul>
						<ul>
							<li> <a href="#">Крепёж</a></li>
							<li> <a href="#">Электротехническая группа</a></li>
							<li> <a href="#">Сантехника и водоснабжение</a></li>
						</ul><a class="goods-on-brands" href="#">Товары по брендам</a>
					</div>
					<div class="col-sm-4">
						<h4>Покупателям</h4>
						<ul>
							<li> <a href="#">Оплата и доставка</a></li>
							<li> <a href="#">Гарантия и возврат</a></li>
							<li> <a href="#">Скидки и акции</a></li>
							<li> <a href="#">Новости</a></li>
						</ul>
						<ul>
							<li> <a href="#">Статьи</a></li>
							<li> <a href="#">Инструкции</a></li>
							<li> <a href="#">Готовые наборы</a></li>
							<li> <a href="#">Вход/Регистрация</a></li>
						</ul>
					</div>
					<div class="col-sm-4">
						<h4>Контакты</h4>
						<ul>
							<li>
								 МКАД 51-й км
								<wbr>(внешняя сторона)
							</li>
							<li>р. пос. Заречье</li>
							<li>ТЦ «ЭлитСтрой
								<wbr>материалы»
							</li>
							<li class="foot-map"> <a class="modal-link" href="#">Схема проезда</a></li>
						</ul>
						<ul>
							<li>пн.-пт. с 10:00 до 20:00</li>
							<li class="foot-phone">+7 (495) 105-85-02</li>
							<li><a class="modal-link" href="#">Заказать обратный звонок</a></li>
							<li> <a href="mailto:info@al-stroy.ru">info@al-stroy.ru</a></li>
							<li> <a href="#">Все контакты</a></li>
						</ul>
					</div>
					<div class="col-sm-12">
						<hr>
					</div>
				</div>
				<div class="soc-links col-sm-4">
					<h5>Мы в соцсетях</h5>
					<ul>
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-instagram"></i></a></li>
						<li><a href="#"><i class="icon-odnoklassniki"></i></a></li>
						<li><a href="#"><i class="icon-vkontakte"></i></a></li>
						<li><a href="#"><i class="icon-twitter"></i></a></li>
					</ul>
				</div>
				<div class="payment col-sm-2">
					<h5>Принимаем к оплате</h5>
					<div class="pay-icons"></div>
				</div>
				<div class="subscribe col-sm-6">
					<div class="subscribe-form">
						<h5>Подписаться на новости и акции</h5>
						<div class="input-group">
							<input class="form-control" type="text" placeholder="Оставьте Ваш E-mail"><span class="input-group-btn">
								<button class="btn btn-default" type="button">Подписаться</button></span>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<div class="copyright-line">
			<div class="container">
				<div class="col-sm-12"><span class="copyright">&copy; 2016 Артель-Молл</span><span>
						 Создание сайта - <a href="#">Individ</a></span></div>
			</div>
		</div>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="//use.fontawesome.com/c36757424e.js"></script>
	</body>
</html>
